table,tr,td,th{
    border: 1px solid black;
    border-collapse: collapse;
    margin: 150px;
    padding: 20px;
}


.A{
    background-color: blue;
}


.son1{
    background-color: blue;
}

.car{
    background-color: skyblue;
}

.ca{
    background-color: green;
}

.e{
    background-color:yellow;
}
