table,tr,td,th{
    border: 1px solid black;
    border-collapse: collapse;
    margin: 150px;
    padding: 50px;
}

.table1{
    width: 790px;
    height: 100px;
    text-align: center;
    padding: 20px;    
}

.name1{
    background-color: red;
    color: white;
    padding: 20px;
    }




th{
    background-color: red;
    color: white;
    font-size: 20px;
}
tr:nth-child(odd){
    background-color: rgb(53,50,50);
}


.table2{
    width: 790px;
    height: 100px;
    text-align: center;
    
}

.name2{
background-color: green;
color: white;
padding: 20px;
}

.name3{
    background-color: skyblue;
    color: white;
    padding: 20px;
    }

    .table3{ 
        width: 790px;
        height: 100px;
        text-align: center;
        
    }


